{% extends 'base.html.twig' %}

{% block title %}Livros de minha vida
{% endblock %}

{% block body %}
	{% if app.user %}
		<div>
			<a href="{{path('app_livro_index')}}">Meus livros</a>
		</div>
	{% else %}
		<div class="mb-3">
			<a href="{{ path('app_register')}}">Registre-se</a>
			<a href="{{ path('app_login')}}">Login</a>
		</div>
	{% endif %}
{% endblock %}
